.secretBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--app-background) ;
    padding-right: 10px;
}

.secretBox > form {
    display: flex;
    flex-direction: column;
}

.secretBox__input{
    display: flex;
    padding: 20px;
}

 .secretBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.secretBox__themeInput{
    border: none;
    padding: 10px;

}

.secretBox__postButton{
    background-color: var(--app-color) !important ;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}
