.widgets {
    flex: 0.3;
  }
  
  .widgets__icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .widgets__searchIcon {
    color: var(--app-color);
    font-size: 50px !important;
    font-weight: 800 !important;

  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }